In [1]:
import pandas as pd 
import geopy

In [2]:
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
from geopy.extra.rate_limiter import RateLimiter

In [5]:
df = pd.read_csv("C:\\Users\\chand\\Downloads\\df_melted.csv",header=None)
df = df[0].str.split(',', expand=True)
df.columns = ['RegionID', 'RegionName', 'StateName', 'Date', 'Value']
df.head()

   RegionID  RegionName  StateName        Date    Value
0  RegionID  RegionName  StateName        Date    Value
1  394913.0    New York         NY  2023-05-31  45829.0
2  394425.0     Buffalo         NY  2023-05-31   1695.0
3  395031.0   Rochester         NY  2023-05-31   1632.0
4  394308.0      Albany         NY  2023-05-31   1641.0

In [6]:
def get_lat_long(RegionName, StateName):
    address = f"{RegionName}, {StateName}"
    try:
        geolocator = Nominatim(user_agent="running", timeout=15)
        location = geolocator.geocode(address)
        if location:
            return location.latitude, location.longitude
        else:
            return None, None
    except GeocoderTimedOut:
        return None, None

In [7]:
df['LATITUDE'], df['LONGITUDE'] = zip(*df.apply(lambda x: get_lat_long(x['RegionName'], x['StateName']), axis=1))

In [8]:
df['LATLONG'] = df['LATITUDE'].astype(str)+','+ df['LONGITUDE'].astype(str)

In [15]:
df.head()

,Name,BIB,RANK,TIME,PACE,AGE,GENDER,HOMETOWN,CITY,STATE,OFFICIAL TIME,TotalMinutes,LATITUDE,LONGITUDE,LATLONG
0,Nathanael Williams,50844,1,47:04:00,5:04,20-24,M,"Lancaster, SC",Lancaster,SC,00:47:04,47,34.662807,-80.700546,"34.6628067,-80.700546"
1,Michael Bailey,51162,2,48:19:00,5:11,25-29,M,"Chesapeake, VA",Chesapeake,VA,00:48:19,48,36.718371,-76.246680,"36.7183708,-76.2466798"
2,Brian Flynn,50723,3,48:52:00,5:15,35-39,M,"Mechanicsville, VA",Mechanicsville,VA,00:48:52,49,37.603969,-77.371732,"37.6039694,-77.3717321"
3,James Quattlebaum,50411,4,49:23:00,5:18,20-24,M,"Greenville, SC",Greenville,SC,00:49:23,49,34.851354,-82.398488,"34.851354,-82.3984882"
4,Ricky Flynn,51467,5,51:31:00,5:32,30-34,M,"Greenville, SC",Greenville,SC,00:51:31,52,34.851354,-82.398488,"34.851354,-82.3984882"

In [16]:
df.to_csv('cleanedhotchocolatemarathon.csv',index=False)